.btn-drawn {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-image: url(/assets/graphics/border-1.svg) 3 3 3 3 stretch stretch;
}

.btn-underline {
    @apply relative leading-none px-1 hover:drop-shadow-md transition-all;
    /* border-image: url(/assets/graphics/horizontal-line-1.svg) 0 0 100% 0 stretch */
}
.btn-underline::after{
    content: '';
    position: absolute;
    bottom: -.25rem;
    right: 0px;
    left: 0px;
    @apply border-b-4 border-black h-1 origin-left transition;
    border-image: url(/assets/graphics/horizontal-line-1.svg) 0 0 100% 0 stretch
}
.btn-underline:hover::after{
@apply scale-110;
}

